:host {
    height: 100vh;
    width: 100vw;
    display: grid;
    font-size: 14pt;

    grid-auto-rows: auto 70px 1fr auto;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "header"
    "aside"
    "main"
    "footer";
  }
  
    main {
        grid-area: main;
        overflow-y: auto;
        padding: 25px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min(150px);

        grid-gap: 10px;
    }

    main > div {
        background: #fff;
        box-shadow: 1px 2px 3px #ddd;
    }

  @media screen and (min-width: 760px) {
    :host {
        grid-auto-rows: auto 1fr auto;
        grid-auto-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
        }

        
    main {
        grid-template-columns: repeat(10, 1fr);
        grid-auto-rows: min(150px);
    }
  }

  @media screen and (min-width: 1400px) {
    :host {
        grid-auto-rows: auto 1fr auto;
        grid-auto-columns: 300px 1fr;
        grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
        }        
        
    main {
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: min(150px);
    }
  }

  

header {
    grid-area: header;
    padding: 15px;
    font-size: 18pt;
}
aside {
    grid-area: aside;
    padding: 10px 0px;
}
footer {
    grid-area: footer;
    background: #333;
    color: #f2f2f2;
    padding: 15px;
}

/* theming */
header, aside {    
    background: #222;
    color: #fefefe;
}

main {    
    background: #f2f2f2;
    color: #222;
    
}

aside > div {
    background: #222;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    transition: box-shadow 0.2s ease-out;
    margin-bottom: 5px;
    cursor: pointer;    
    
    &:hover {    
        box-shadow:inset 0 0 0 99999px rgba(255, 255, 255, 0.3);
    }

    &:active {
        box-shadow:inset 0 0 0 99999px rgba(255, 255, 255, 0.8);
        color: rgba(0, 0, 0, 0.8);
    }
}