<!--The content below is only a placeholder and can be replaced.-->
<header>
  Dash
</header>
<aside>
    <div>Item</div>
    <div>Item</div>
    <div>Item</div>
    <div>Item</div>
    <div>Item</div>
    <div>Item</div>
    <div>Item</div>
    <div>Item</div>
    <div>Item</div>
    <div>Item</div>
    <div>Item</div>
    <div>Item</div>
</aside>
<main>
  main
</main>
<footer>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus assumenda aliquid corporis maxime praesentium exercitationem reiciendis, ipsum quam, dolorem minima voluptatem pariatur obcaecati eligendi nulla et veniam temporibus ad. Minus.
  Sequi, sint doloremque culpa tempore quaerat vero neque facilis dolor quibusdam, iure similique, reprehenderit nesciunt! Alias, suscipit! Corrupti quasi doloribus impedit ut non harum eos molestias, perspiciatis qui veniam soluta.
  Nemo nobis consequatur culpa praesentium assumenda minima excepturi quis recusandae, placeat architecto dolorum rerum reprehenderit quia delectus, repellendus deserunt maiores vel doloribus sint. Similique, pariatur assumenda hic aliquid eveniet ea!
</footer>